[vc_row][vc_column]
{{FEATURED_IMAGE}}
[vc_column_text]
📅 تاریخ برگزاری: {{EVENT_DATE}}

{{BODY}}
[/vc_column_text][vc_column_text]
<h3 style="text-align: center;">{{TITLE}}</h3>
[/vc_column_text][/vc_column][/vc_row]
